@using System.Security.Claims
@using Aden.Web.Helpers

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main-menu" aria-haspopup="true" aria-expanded="false" aria-label="navigation menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" aria-label="Home"><i class="fa fa-home" role="navigation"></i></a>
    </div>
    <div class="navbar-collapse collapse" id="nav-main-menu">

        <ul class="nav navbar-nav">
            @Html.NavigationLink("Assignments", "Assignments", "Home", "fa fa-tasks")

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs visible-sm">&nbsp;</i><span class="hidden-sm">Submissions </span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @Html.NavigationLink("Submissions", "Submissions", "Home", "fa fa fa-file-text")
                    @Html.NavigationLink("Report", "SubmissionReport", "Home", "fa fa fa-file-text")
                </ul>
            </li>

            @if (User.IsInRole(Constants.Administrators) || User.IsInRole(Constants.GlobalAdministrators))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs visible-sm">&nbsp;</i><span class="hidden-sm">Administration </span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @Html.NavigationLink("File Specifications", "FileSpecifications", "Home", "fa fa-th-list")
                        @if (User.IsInRole(Constants.Administrators))
                        {
                            @Html.NavigationLink("Group Manager", "GroupManager", "Home", "fa fa-th-list")
                        }
                    </ul>
                </li>
            }

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs visible-sm">&nbsp;</i><span class="hidden-sm">Help </span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @Html.NavigationLink("About", "About", "Home", "fa fa-th-list")
                    <li><a href="https://spintranet.alsde.edu/sites/help/ahm/Federal%20Programs/ADEN/ADEN%20User%20Guide.pdf" target="_blank"><i class="fa fa-th-list visible-sm">&nbsp;</i>&nbsp;&nbsp;<span class="hidden-sm">User Guide<span></span></span></a></li>
                </ul>
            </li>

            @if (Constants.Environment != "Production")
            {

                @Html.NavigationLink("Mail Viewer", "Mail", "Home", "fa fa-envelope")
            }

            @if (User.IsInRole(Constants.Administrators))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Log Viewer
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.NavigationLink("Error Log", "LogViewer", "Home", "fa fa-envelope")

                        </li>
                        <li>
                            @Html.NavigationLink("Performance Log", "PerfViewer", "Home", "fa fa-envelope")

                        </li>
                    </ul>
                </li>

            }


        </ul>



    </div>
</nav>
